@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text_gray {
  @apply text-neutral-600 font-sans font-semibold;
}

.gray_outline_focusBlue {
  @apply border-none outline-none font-medium placeholder-gray-600 text-neutral-800 rounded-full ring-2 ring-neutral-300 focus:ring-primaryColor1 focus:ring-2 shadow;
}
.gray_outline_focusBlue_btn {
  @apply border-none outline-none font-medium placeholder-gray-600 rounded-xl  text-neutral-800 ring-2 ring-neutral-300 focus:ring-primaryColor1 focus:ring-2 shadow;
}

.gray_outline_focusBlue_radioBtn {
  @apply border-none outline-none font-medium rounded-xl  text-neutral-800  shadow ring-2 ring-neutral-300 focus-within:ring-primaryColor1 focus:ring-2;
}

.hr_bg_full {
  @apply w-24 max-sm:w-8 h-[6px] mx-5 bg-neutral-300 border-0 rounded  relative overflow-visible block;
}

.hr_bg_half {
  @apply before:absolute before:bg-primaryColor1 before:block before:h-[6px] before:left-0 before:top-0 before:z-10 before:w-3/6 before:rounded;
}
.hr_bg_half_to_full {
  @apply before:absolute before:bg-primaryColor1 before:block before:h-[6px] before:left-0 before:top-0 before:z-10 before:w-full before:rounded;
}
